.btn {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    color: $color-gray-light;
    background-color: $color-green-light;
    padding: 1.5rem 3rem;
    &:hover {
        background-color: $color-green-dark;
        cursor: pointer;
    }
}