.header {
    display: grid;
    grid-template-rows: 1fr min-content minmax(10rem, min-content) 1fr;
    background-color: $color-blue-dark;
    grid-column: full-start / col-end 6;
    @include respond(tab-port) {
        grid-column: full-start / full-end;
    }
    padding: 5rem 5rem 5rem 6rem;
    background: url('../icons/header-bg.png') center / cover no-repeat;
    &__line-text {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-gray-dark;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        margin-bottom: 1rem;
        &::after,
        &::before {
            content: '';
            height: 0.1rem;
            display: block;
            background-color: $color-gray-dark;
        }
    }
    &__img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        grid-gap: 2rem;
    }
    &__img img {
        height: 2.5rem;
        filter: brightness(70%);
    }
    &__btn {
        align-self: start;
        justify-self: start;
    }
}

.logo {
    display: block;
    margin-bottom: 8rem;
    &__img {
        display: block;
        margin: 0 auto;
    }
}